.addPost{
    background: #fff;
    margin-top: 25px;
    width: 90%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #ddd;
    padding: 12px 16px 10px;
    position: relative;
    @media all and (min-width:946px) {
        width: 500px;
    }
    .TextArea{
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        img{
            border-radius: 50%;
            margin-right: 12px;
            object-fit: cover;
            object-position: top;
        }
        input{
            border: none;
            outline: none;
            background: #E4E6E9;
            border-radius: 25px;
            width: 100%;
            padding: 0 15px;
            &::placeholder{
                font-size: 17px;
            }
        }
    }
    .Actions{
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        >div{
            display: flex;
            justify-content: center;
            font-size:15px;
            border-radius: 10px;
            svg{
                margin-right: 5px;
            }
        }
        div:nth-of-type(1){
            svg{
                color: #E73F5A;
            }
        }
        div:nth-of-type(2){
            svg{
                color: #41B35D;
            }
        }
        div:nth-of-type(3){
            @media all and (max-width:769px) {
                display: none;
            }
            svg{
                color: #EAB129;
            }
        }
    }
}