@font-face {
    font-family:"segoeUI";
    src: url('./Assets/fonts/Segoe\ ui\ historic.ttf');
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"segoeUI";
}
a{
    text-decoration: none;
    color: #000;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.MuiButton-containedPrimary{
    background-color: #056BE1 !important;
}